<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars News Today</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="medium text-center">
      <h1>First Ever News Website From Mars!</h1>
      <p>Weather. Adventure. Leisure. Celebrities. News that is always 90 minutes old!</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
    </div>
    <h3><strong>The Latest Celebritiy Photos on Mars!</strong></h3>
    <h3><strong>Elvis seen behind rock!</strong></h3>
    <h3><strong>News_Title: {{ planet.news_title }}</strong></h3>
    <h3><strong>The Latest News from the Red Planet: {{ planet.news_p }}</strong></h3>
  </div>
  <br>
  <img class="irc_mi" src="https://i.pinimg.com/originals/88/d6/37/88d637135a7b9b43174ad144711b0516.jpg" alt="Image result for mars landscape pictures" width="450" height="338" style="">  <br>
  </div>
</body>

</html>
